@charset "utf-8";

.mw-parser-output .hatnote { font-style: italic; }

.mw-parser-output div.hatnote { padding-left: 1.6em; margin-bottom: 0.5em; }

.mw-parser-output .hatnote i { font-style: normal; }

.mw-parser-output .hatnote + link + .hatnote { margin-top: -0.5em; }
