@charset "utf-8";

.mw-parser-output .navbox { box-sizing: border-box; border: 1px solid rgb(162, 169, 177); width: 100%; clear: both; font-size: 88%; text-align: center; padding: 1px; margin: 1em auto 0px; }

.mw-parser-output .navbox .navbox { margin-top: 0px; }

.mw-parser-output .navbox + .navbox, .mw-parser-output .navbox + .navbox-styles + .navbox { margin-top: -1px; }

.mw-parser-output .navbox-inner, .mw-parser-output .navbox-subgroup { width: 100%; }

.mw-parser-output .navbox-group, .mw-parser-output .navbox-title, .mw-parser-output .navbox-abovebelow { padding: 0.25em 1em; line-height: 1.5em; text-align: center; }

.mw-parser-output .navbox-group { white-space: nowrap; text-align: right; }

.mw-parser-output .navbox, .mw-parser-output .navbox-subgroup { background-color: rgb(253, 253, 253); }

.mw-parser-output .navbox-list { line-height: 1.5em; border-color: rgb(253, 253, 253); }

.mw-parser-output .navbox-list-with-group { text-align: left; border-left-width: 2px; border-left-style: solid; }

.mw-parser-output tr + tr > .navbox-abovebelow, .mw-parser-output tr + tr > .navbox-group, .mw-parser-output tr + tr > .navbox-image, .mw-parser-output tr + tr > .navbox-list { border-top: 2px solid rgb(253, 253, 253); }

.mw-parser-output .navbox th, .mw-parser-output .navbox-title { }

.mw-parser-output .navbox-abovebelow, .mw-parser-output th.navbox-group, .mw-parser-output .navbox-subgroup .navbox-title { background-color: rgb(221, 221, 255); }

.mw-parser-output .navbox-subgroup .navbox-group, .mw-parser-output .navbox-subgroup .navbox-abovebelow { background-color: rgb(230, 230, 255); }

.mw-parser-output .navbox-even { background-color: rgb(247, 247, 247); }

.mw-parser-output .navbox-odd { background-color: transparent; }

.mw-parser-output .navbox .hlist td dl, .mw-parser-output .navbox .hlist td ol, .mw-parser-output .navbox .hlist td ul, .mw-parser-output .navbox td.hlist dl, .mw-parser-output .navbox td.hlist ol, .mw-parser-output .navbox td.hlist ul { padding: 0.125em 0px; }

.mw-parser-output .navbox .navbar { display: block; font-size: 100%; }

.mw-parser-output .navbox-title .navbar { float: left; text-align: left; margin-right: 0.5em; }
