@charset "utf-8";

.mw-parser-output .sidebar { width: 22em; float: right; clear: right; margin: 0.5em 0px 1em 1em; background: rgb(248, 249, 250); border: 1px solid rgb(170, 170, 170); padding: 0.2em; text-align: center; line-height: 1.4em; font-size: 88%; border-collapse: collapse; display: table; }

body.skin-minerva .mw-parser-output .sidebar { display: table !important; float: right !important; margin: 0.5em 0px 1em 1em !important; }

.mw-parser-output .sidebar-subgroup { width: 100%; margin: 0px; border-spacing: 0px; }

.mw-parser-output .sidebar-left { float: left; clear: left; margin: 0.5em 1em 1em 0px; }

.mw-parser-output .sidebar-none { float: none; clear: both; margin: 0.5em 1em 1em 0px; }

.mw-parser-output .sidebar-outer-title { padding: 0px 0.4em 0.2em; font-size: 125%; line-height: 1.2em; font-weight: bold; }

.mw-parser-output .sidebar-top-image { padding: 0.4em; }

.mw-parser-output .sidebar-top-caption, .mw-parser-output .sidebar-pretitle-with-top-image, .mw-parser-output .sidebar-caption { padding: 0.2em 0.4em 0px; line-height: 1.2em; }

.mw-parser-output .sidebar-pretitle { padding: 0.4em 0.4em 0px; line-height: 1.2em; }

.mw-parser-output .sidebar-title, .mw-parser-output .sidebar-title-with-pretitle { padding: 0.2em 0.8em; font-size: 145%; line-height: 1.2em; }

.mw-parser-output .sidebar-title-with-pretitle { padding: 0.1em 0.4em; }

.mw-parser-output .sidebar-image { padding: 0.2em 0.4em 0.4em; }

.mw-parser-output .sidebar-heading { padding: 0.1em 0.4em; }

.mw-parser-output .sidebar-content { padding: 0px 0.5em 0.4em; }

.mw-parser-output .sidebar-content-with-subgroup { padding: 0.1em 0.4em 0.2em; }

.mw-parser-output .sidebar-above, .mw-parser-output .sidebar-below { padding: 0.3em 0.8em; font-weight: bold; }

.mw-parser-output .sidebar-collapse .sidebar-above, .mw-parser-output .sidebar-collapse .sidebar-below { border-top: 1px solid rgb(170, 170, 170); border-bottom: 1px solid rgb(170, 170, 170); }

.mw-parser-output .sidebar-navbar { text-align: right; font-size: 115%; padding: 0px 0.4em 0.4em; }

.mw-parser-output .sidebar-list-title { padding: 0px 0.4em; text-align: left; font-weight: bold; line-height: 1.6em; font-size: 105%; }

.mw-parser-output .sidebar-list-title-c { padding: 0px 0.4em; text-align: center; margin: 0px 3.3em; }

@media (max-width: 720px) {
  body.mediawiki .mw-parser-output .sidebar { clear: both; width: 100% !important; float: none !important; margin-left: 0px !important; margin-right: 0px !important; }
}
