@charset "utf-8";

.mw-cite-backlink, .cite-accessibility-label { user-select: none; }

.mw-references-columns { column-width: 30em; margin-top: 0.3em; }

.mw-parser-output .mw-references-columns .references { margin-top: 0px; }

.mw-references-columns li { break-inside: avoid-column; }

ol.references { counter-reset: mw-ref-extends-parent 0 list-item 0; }

ol.references > li { counter-increment: mw-ref-extends-parent 1; counter-reset: mw-ref-extends-child 0; }

ol.references .mw-extended-references { list-style: none; margin-left: 2em; }

.mw-extended-references > li::before { counter-increment: mw-ref-extends-child 1; content: counter(mw-ref-extends-parent) "." counter(mw-ref-extends-child) ". "; }

sup.reference { unicode-bidi: isolate; white-space: nowrap; font-weight: normal; font-style: normal; }

ol.references li:target, sup.reference:target { background-color: rgb(234, 243, 255); }

.mw-ext-cite-error { font-weight: bold; unicode-bidi: embed; }

.mw-ext-cite-error code { background-color: transparent; color: inherit; padding: 1px 2px; }

.mw-cite-dir-ltr .reference-text { direction: ltr; unicode-bidi: embed; }

.mw-cite-dir-rtl .reference-text { direction: rtl; unicode-bidi: embed; }

@media print {
  .mw-cite-backlink { display: none; }
}

#p-lang .uls-settings-trigger { background: url("cog-sprite.svg_c3fa1") center top no-repeat transparent; border: 0px; min-height: 16px; min-width: 16px; float: right; cursor: pointer; }

#p-lang .uls-settings-trigger:focus { outline: rgb(51, 102, 204) solid 1px; }

.skin-vector #p-lang .uls-settings-trigger { margin-top: 8px; }

#p-lang .uls-settings-trigger:hover { background-position: center -16px; }

.client-nojs #ca-ve-edit, .client-nojs .mw-editsection-divider, .client-nojs .mw-editsection-visualeditor, .ve-not-available #ca-ve-edit, .ve-not-available .mw-editsection-divider, .ve-not-available .mw-editsection-visualeditor { display: none; }

.client-js .mw-content-ltr .mw-editsection-bracket:first-of-type, .client-js .mw-content-rtl .mw-editsection-bracket:not(:first-of-type) { margin-right: 0.25em; color: rgb(84, 89, 93); }

.client-js .mw-content-rtl .mw-editsection-bracket:first-of-type, .client-js .mw-content-ltr .mw-editsection-bracket:not(:first-of-type) { margin-left: 0.25em; color: rgb(84, 89, 93); }

.badge-goodarticle, .badge-goodlist, .badge-recommendedarticle { list-style-image: url("/w/extensions/WikimediaBadges/resources/images/badge-silver-star.png?70a8c"); }

.badge-featuredarticle, .badge-featuredportal, .badge-featuredlist { list-style-image: url("badge-golden-star.png_ed948.png"); }

.badge-problematic { list-style-image: url("/w/extensions/WikimediaBadges/resources/images/badge-problematic.png?f3177"); }

.badge-proofread { list-style-image: url("/w/extensions/WikimediaBadges/resources/images/badge-proofread.png?e81f9"); }

.badge-validated { list-style-image: url("/w/extensions/WikimediaBadges/resources/images/badge-validated.png?6232c"); }

.badge-digitaldocument { list-style-image: url("/w/extensions/WikimediaBadges/resources/images/badge-digitaldocument.png?d1c50"); }

.client-js ol.mw-collapsible::before, .client-js ul.mw-collapsible::before, .client-js .mw-collapsible-toggle-li { display: list-item; list-style: none; margin-bottom: 0.1em; }

.client-js ol.mw-made-collapsible::before, .client-js ul.mw-made-collapsible::before { display: none; }

.client-js ol.mw-collapsible:not(.mw-made-collapsible)::before, .client-js ul.mw-collapsible:not(.mw-made-collapsible)::before, .client-js table.mw-collapsible:not(.mw-made-collapsible) :first-child tr:first-child th:last-child::before, .client-js table.mw-collapsible:not(.mw-made-collapsible) > caption:first-child::after, .client-js div.mw-collapsible:not(.mw-made-collapsible)::before { content: "[hide]"; }

.client-js td.mw-collapsed:not(.mw-made-collapsible)::before, .client-js table.mw-collapsed:not(.mw-made-collapsible) :first-child tr:first-child th:last-child::before, .client-js table.mw-collapsed:not(.mw-made-collapsible) > caption:first-child::after, .client-js div.mw-collapsed:not(.mw-made-collapsible)::before { content: "[show]"; }

.client-js .mw-collapsible[id^="mw-customcollapsible"] th::before, .client-js .mw-collapsible[id^="mw-customcollapsible"]::before { content: none !important; }

.client-js table.mw-collapsible:not(.mw-made-collapsible) > caption:first-child::after { float: none; display: block; }

.client-js .mw-collapsed:not(.mw-made-collapsible) > p, .client-js .mw-collapsed:not(.mw-made-collapsible) > table, .client-js .mw-collapsed:not(.mw-made-collapsible) > thead + tbody, .client-js .mw-collapsed:not(.mw-made-collapsible) tr:not(:first-child), .client-js .mw-collapsed:not(.mw-made-collapsible) .mw-collapsible-content { display: none; }

.mw-collapsible:not(.mw-made-collapsible) th::before, .mw-collapsible:not(.mw-made-collapsible)::before, .mw-collapsible-toggle { float: right; }

.mw-content-ltr .mw-collapsible:not(.mw-made-collapsible) th::before, .mw-content-rtl .mw-content-ltr .mw-collapsible:not(.mw-made-collapsible) th::before, .mw-content-ltr .mw-collapsible:not(.mw-made-collapsible)::before, .mw-content-rtl .mw-content-ltr .mw-collapsible:not(.mw-made-collapsible)::before, .mw-content-ltr .mw-collapsible-toggle, .mw-content-rtl .mw-content-ltr .mw-collapsible-toggle { float: right; }

.mw-content-rtl .mw-collapsible:not(.mw-made-collapsible) th::before, .mw-content-ltr .mw-content-rtl .mw-collapsible:not(.mw-made-collapsible) th::before, .mw-content-rtl .mw-collapsible:not(.mw-made-collapsible)::before, .mw-content-ltr .mw-content-rtl .mw-collapsible:not(.mw-made-collapsible)::before, .mw-content-rtl .mw-collapsible-toggle, .mw-content-ltr .mw-content-rtl .mw-collapsible-toggle { float: left; }

li .mw-collapsible-toggle, .mw-content-ltr li .mw-collapsible-toggle, .mw-content-rtl li .mw-collapsible-toggle, .mw-content-ltr .mw-content-rtl li .mw-collapsible-toggle, .mw-content-rtl .mw-content-ltr li .mw-collapsible-toggle { float: none; }

ol.mw-collapsible:not(.mw-made-collapsible)::before, ul.mw-collapsible:not(.mw-made-collapsible)::before { float: none !important; }

body { margin: 0px; }

main { display: block; }

hr { box-sizing: content-box; height: 0px; overflow: visible; }

abbr[title] { border-bottom: 1px dotted; cursor: help; }

@supports (text-decoration:underline dotted) {
  abbr[title] { border-bottom: 0px; text-decoration: underline dotted; }
}

pre, code, tt, kbd, samp { font-family: monospace, monospace; }

sub, sup { line-height: 1; }

img { border: 0px; }

button, input, optgroup, select, textarea { margin: 0px; }

legend { color: inherit; padding: 0px; }

.firstHeading::before { content: url("wikipedia-wordmark-en.svg"); display: block; height: 18px; left: -9999px; line-height: 0; margin-bottom: 20px; position: absolute; width: 119px; }

.messagebox, .errorbox, .warningbox, .successbox { color: rgb(0, 0, 0); box-sizing: border-box; margin-bottom: 16px; border: 1px solid; padding: 12px 24px; overflow-wrap: break-word; overflow: hidden; }

.messagebox :only-child, .errorbox :only-child, .warningbox :only-child, .successbox :only-child { margin: 0px; }

.messagebox h2, .errorbox h2, .warningbox h2, .successbox h2 { color: inherit; display: inline; margin: 0px 0.5em 0px 0px; border: 0px; font-size: 1em; font-weight: bold; }

.messagebox .mw-logevent-loglines li, .errorbox .mw-logevent-loglines li, .warningbox .mw-logevent-loglines li, .successbox .mw-logevent-loglines li { font-size: 90%; }

.messagebox { background-color: rgb(234, 236, 240); border-color: rgb(162, 169, 177); }

.errorbox { background-color: rgb(254, 231, 230); border-color: rgb(221, 51, 51); }

.warningbox { background-color: rgb(254, 246, 231); border-color: rgb(255, 204, 51); }

.successbox { background-color: rgb(213, 253, 244); border-color: rgb(20, 134, 109); }

.toctogglecheckbox:checked ~ ul { display: none; }

@media screen {
  html, body { height: 100%; }
  :focus { outline-color: rgb(51, 102, 204); }
  html { font-size: 100%; }
  html, body { font-family: sans-serif; }
  ul { list-style-image: url("bullet-icon.svg_d4515"); }
  pre, .mw-code { line-height: 1.3; }
  .mw-jump-link:not(:focus) { display: block; clip: rect(1px, 1px, 1px, 1px); width: 1px; height: 1px; margin: -1px; border: 0px; padding: 0px; overflow: hidden; position: absolute !important; }
  .mw-editsection, .mw-editsection-like { font-family: sans-serif; }
  .mw-body h1, .mw-body-content h1, .mw-body-content h2 { margin-bottom: 0.25em; padding: 0px; font-family: "Linux Libertine", Georgia, Times, serif; line-height: 1.3; }
  .mw-body h1:lang(ja), .mw-body-content h1:lang(ja), .mw-body-content h2:lang(ja), .mw-body h1:lang(he), .mw-body-content h1:lang(he), .mw-body-content h2:lang(he), .mw-body h1:lang(ko), .mw-body-content h1:lang(ko), .mw-body-content h2:lang(ko) { font-family: sans-serif; }
  .mw-body h1:lang(my), .mw-body-content h1:lang(my), .mw-body-content h2:lang(my) { line-height: normal; }
  .mw-body h1, .mw-body-content h1 { font-size: 1.8em; }
  .vector-body { font-size: calc(0.875em); line-height: 1.6; }
  .vector-body h1 { margin-top: 1em; }
  .vector-body h2 { margin-top: 1em; font-size: 1.5em; }
  .vector-body h3, .vector-body h4, .vector-body h5, .vector-body h6 { margin-top: 0.3em; margin-bottom: 0px; padding-bottom: 0px; line-height: 1.6; }
  .vector-body h3 { font-size: 1.2em; }
  .vector-body h3, .vector-body h4 { font-weight: bold; }
  .vector-body h4, .vector-body h5, .vector-body h6 { font-size: 100%; }
  .vector-body .toc h2 { font-family: sans-serif; font-size: 100%; }
  .vector-body p { margin: 0.5em 0px; }
  .vector-body blockquote { border-left: 4px solid rgb(234, 236, 240); padding: 8px 32px; }
  .vector-body blockquote > :first-child { margin-top: 0px; }
  .vector-body blockquote > :last-child { margin-bottom: 0px; }
  .mw-parser-output a.external { background-image: url("/w/skins/Vector/resources/common/images/external-link-ltr-icon.svg?48e54"); background-position: right center; background-repeat: no-repeat; padding-right: 13px; }
  .mw-body .mw-indicators { font-size: 0.875em; line-height: 1.6; position: relative; }
  .mw-body .mw-indicator { display: inline-block; }
  #siteNotice { font-size: 0.8em; }
  .mw-portlet h3 { display: none; }
  .mw-portlet ul { list-style: none none; margin: 0px; }
  .vector-menu-tabs { background-position: left bottom; float: left; height: 2.5em; padding-left: 1px; }
  .vector-menu-tabs h3 { display: none; }
  .vector-menu-tabs ul { float: left; height: 100%; list-style: none none; margin: 0px; padding: 0px; }
  .vector-menu-tabs li { background-image: linear-gradient(to top, rgb(119, 193, 246) 0px, rgb(232, 242, 248) 1px, rgb(255, 255, 255) 100%); background-position: left bottom; background-repeat: repeat-x; float: left; display: block; height: 100%; margin: 0px; padding: 0px; line-height: 1.125em; white-space: nowrap; }
  .vector-menu-tabs li a { background-position: right bottom; color: rgb(6, 69, 173); box-sizing: border-box; display: block; float: left; height: 3.07692em; position: relative; padding-top: 1.25em; padding-left: 8px; padding-right: 8px; font-size: 0.8125em; cursor: pointer; }
  .vector-menu-tabs .new a, .vector-menu-tabs .new a:visited { color: rgb(221, 51, 51); }
  .vector-menu-tabs .selected { background: rgb(255, 255, 255); }
  .vector-menu-tabs .selected a, .vector-menu-tabs .selected a:visited { color: rgb(32, 33, 34); text-decoration: none; }
  .vector-menu-tabs .icon a { background-position: right bottom; background-repeat: no-repeat; }
  @-webkit-keyframes rotate { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
  @keyframes rotate { 
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
  .vector-menu-tabs .mw-watchlink.icon a { width: 2.15385em; height: 0px; padding: 3.07692em 0px 0px; overflow: hidden; }
  .vector-menu-tabs .mw-watchlink.icon a::before { background-repeat: no-repeat; background-position: 50% 50%; content: ""; display: block; position: absolute; top: 1.07692em; left: 0.384615em; width: 1.23077em; height: 1.23077em; }
  .vector-menu-tabs #ca-unwatch.icon a::before { background-image: linear-gradient(transparent, transparent), url("/w/skins/Vector/resources/common/images/unwatch-icon.svg?c5368"); }
  .vector-menu-tabs #ca-unwatch.mw-watchlink-temp.icon a::before { background-image: linear-gradient(transparent, transparent), url("/w/skins/Vector/resources/common/images/unwatch-temp-icon.svg?195f5"); }
  .vector-menu-tabs #ca-watch.icon a::before { background-image: linear-gradient(transparent, transparent), url("/w/skins/Vector/resources/common/images/watch-icon.svg?6ab6f"); }
  .vector-menu-tabs #ca-unwatch.icon a:hover::before, .vector-menu-tabs #ca-unwatch.icon a:focus::before { background-image: linear-gradient(transparent, transparent), url("/w/skins/Vector/resources/common/images/unwatch-icon-hl.svg?5e652"); }
  .vector-menu-tabs #ca-unwatch.mw-watchlink-temp.icon a:hover::before, .vector-menu-tabs #ca-unwatch.mw-watchlink-temp.icon a:focus::before { background-image: linear-gradient(transparent, transparent), url("/w/skins/Vector/resources/common/images/unwatch-temp-icon-hl.svg?f3db6"); }
  .vector-menu-tabs #ca-watch.icon a:hover::before, .vector-menu-tabs #ca-watch.icon a:focus::before { background-image: linear-gradient(transparent, transparent), url("/w/skins/Vector/resources/common/images/watch-icon-hl.svg?9bf90"); }
  .vector-menu-tabs #ca-unwatch.icon .loading::before, .vector-menu-tabs #ca-watch.icon .loading::before { animation: 700ms linear 0s infinite normal none running rotate; outline: 0px; cursor: default; pointer-events: none; transform-origin: 50% 50%; }
  .vector-menu-dropdown { direction: ltr; float: left; cursor: pointer; position: relative; line-height: 1.125em; }
  .vector-menu-dropdown h3 { color: rgb(84, 89, 93); position: relative; display: block; box-sizing: border-box; }
  .vector-menu-dropdown h3::after { content: ""; background-image: url("/w/skins/Vector/resources/common/images/arrow-down.svg?9426f"); background-position: 100% 50%; background-repeat: no-repeat; position: absolute; top: 0.769231em; right: 8px; bottom: 0px; width: 1.23077em; opacity: 0.84; }
  .vector-menu-dropdown h3:hover, .vector-menu-dropdown h3:focus { color: rgb(32, 33, 34); }
  .vector-menu-dropdown h3:hover::after, .vector-menu-dropdown h3:focus::after { opacity: 1; }
  .vector-menu-dropdown .vector-menu-content { background-color: rgb(255, 255, 255); list-style: none none; min-width: 100%; position: absolute; top: 2.5em; left: -1px; margin: 0px; border-width: 0px 1px 1px; border-style: solid; border-color: rgb(162, 169, 177); border-image: initial; padding: 0px; box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px; text-align: left; opacity: 0; visibility: hidden; transition: opacity 100ms ease 0s; z-index: 3; }
  .vector-menu-dropdown .vector-menu-checkbox-expanded, .vector-menu-dropdown .vector-menu-checkbox-collapsed { display: block; clip: rect(1px, 1px, 1px, 1px); width: 1px; height: 1px; margin: -1px; border: 0px; padding: 0px; overflow: hidden; position: absolute !important; }
  .vector-menu-dropdown .vector-menu-checkbox:checked + .vector-menu-heading .vector-menu-checkbox-expanded, .vector-menu-dropdown .vector-menu-checkbox:not(:checked) + .vector-menu-heading .vector-menu-checkbox-collapsed { display: inline !important; }
  .vector-menu-dropdown .vector-menu-checkbox:not(:checked) + .vector-menu-heading .vector-menu-checkbox-expanded, .vector-menu-dropdown .vector-menu-checkbox:checked + .vector-menu-heading .vector-menu-checkbox-collapsed { display: none !important; }
  .vector-menu-dropdown .vector-menu-checkbox:checked ~ .vector-menu-content { opacity: 1; visibility: visible; }
  .vector-menu-dropdown ul { list-style: none; }
  .vector-menu-dropdown li { padding: 0px; margin: 0px; text-align: left; line-height: 1em; }
  .vector-menu-dropdown li a { padding: 0.625em; color: rgb(6, 69, 173); display: block; white-space: nowrap; cursor: pointer; }
  .vector-menu-dropdown li a span { font-size: 0.8125em; }
  .vector-menu-dropdown .selected a, .vector-menu-dropdown .selected a:visited { color: rgb(32, 33, 34); text-decoration: none; }
  #mw-head .vector-menu-dropdown h3 { background-position: right bottom; float: left; height: 3.07692em; margin: 0px -1px 0px 0px; padding-right: 1.84615em; }
  .vector-menu-tabs, .vector-menu-tabs a, #mw-head .vector-menu-dropdown h3 { background-image: linear-gradient(rgba(167, 215, 249, 0) 0px, rgb(167, 215, 249) 100%); background-repeat: no-repeat; background-size: 1px 100%; }
  .vector-menu-checkbox { cursor: pointer; position: absolute; top: 0px; left: 0px; z-index: 1; opacity: 0; width: 100%; height: 100%; margin: 0px; padding: 0px; display: none; }
  :not(:checked) > .vector-menu-checkbox { display: block; }
  .vector-menu-dropdown-noicon h3 { padding-top: 1.25em; padding-left: 8px; padding-right: 1.84615em; font-size: 0.8125em; font-weight: normal; }
  .vector-menu-dropdown-noicon .vector-menu-checkbox:focus + h3 { outline: -webkit-focus-ring-color auto; }
  .vector-menu-portal { margin: 0px 0.6em 0px 0.7em; padding: 0.25em 0px; direction: ltr; }
  .vector-menu-portal h3 { display: block; background-image: linear-gradient(to right, rgba(200, 204, 209, 0) 0px, rgb(200, 204, 209) 33%, rgb(200, 204, 209) 66%, rgba(200, 204, 209, 0) 100%); background-position: center bottom; background-repeat: no-repeat; background-size: 100% 1px; color: rgb(84, 89, 93); margin: 0.5em 0px 0px 0.666667em; border: 0px; padding: 0.25em 0px; font-size: 0.75em; font-weight: normal; cursor: default; }
  .vector-menu-portal .vector-menu-content { margin-left: 0.5em; padding-top: 0px; }
  .vector-menu-portal .vector-menu-content ul { list-style: none none; margin: 0px; padding-top: 0.3em; }
  .vector-menu-portal .vector-menu-content li { margin: 0px; padding: 0.25em 0px; font-size: 0.75em; line-height: 1.125em; overflow-wrap: break-word; }
  .vector-menu-portal .vector-menu-content li a { color: rgb(6, 69, 173); }
  .vector-menu-portal .vector-menu-content li a:visited { color: rgb(11, 0, 128); }
  .vector-search-box-inner { position: relative; height: 100%; }
  .vector-search-box-input { background-color: rgba(255, 255, 255, 0.5); color: rgb(0, 0, 0); width: 100%; height: 2.15385em; box-sizing: border-box; border: 1px solid rgb(162, 169, 177); border-radius: 2px; padding: 5px 2.15385em 5px 0.4em; box-shadow: transparent 0px 0px 0px 1px inset; font-family: inherit; font-size: 0.8125em; direction: ltr; transition: border-color 250ms ease 0s, box-shadow 250ms ease 0s; appearance: none; }
  .vector-search-box-inner:hover .vector-search-box-input { border-color: rgb(114, 119, 125); }
  .vector-search-box-input:focus, .vector-search-box-inner:hover .vector-search-box-input:focus { outline: 0px; border-color: rgb(51, 102, 204); box-shadow: rgb(51, 102, 204) 0px 0px 0px 1px inset; }
  .vector-search-box-input::-webkit-input-placeholder { color: rgb(114, 119, 125); opacity: 1; }
  .vector-search-box-input::placeholder { color: rgb(114, 119, 125); opacity: 1; }
  .vector-search-box-input::-webkit-search-decoration, .vector-search-box-input::-webkit-search-cancel-button, .vector-search-box-input::-webkit-search-results-button, .vector-search-box-input::-webkit-search-results-decoration { display: none; }
  .searchButton { background-color: transparent; position: absolute; top: 1px; bottom: 1px; right: 1px; min-width: 28px; width: 2.15385em; border: 0px; padding: 0px; cursor: pointer; font-size: 0.8125em; direction: ltr; text-indent: -99999px; white-space: nowrap; overflow: hidden; z-index: 1; }
  .searchButton[name="go"] { background: url("search.svg_bbf78") center center / 1.23077em no-repeat; opacity: 0.67; }
  .search-toggle { display: block; float: right; }
  .vector-search-box-collapses > div { display: none; }
  #p-logo { width: 10em; height: 160px; margin-bottom: 1em; }
  #p-logo a { background-position: center center; background-repeat: no-repeat; display: block; width: 10em; height: 160px; text-decoration: none; }
  .mw-footer { direction: ltr; }
  .mw-footer ul { list-style: none none; margin: 0px; padding: 0px; }
  .mw-footer li { color: rgb(32, 33, 34); margin: 0px; padding: 0.5em 0px; font-size: 0.75em; }
  #footer-icons { float: right; }
  #footer-icons li { float: left; margin-left: 0.5em; line-height: 2; text-align: right; }
  #footer-info li { line-height: 1.4; }
  #footer-places li { float: left; margin-right: 1em; line-height: 2; }
}

@media screen and (min-width: 1000px) {
  .search-toggle { display: none; }
}

@media screen and (min-width: 1000px) {
  .vector-search-box-collapses > div { display: block; }
}

@media print {
  .toc, body { padding: 10px; font-family: "Linux Libertine", Georgia, Times, serif; }
  .printfooter, .mw-footer, .thumb, table, ol, dl, ul, h3, h4, h5, h6 { font-family: sans-serif; }
  img { font-family: "Linux Libertine", Georgia, Times, serif; }
  .mw-body a:not(.image) { border-bottom: 1px solid rgb(170, 170, 170); }
  .firstHeading { font-size: 25pt; line-height: 28pt; margin-bottom: 20px; padding-bottom: 5px; }
  .firstHeading, h2 { overflow: hidden; border-bottom: 2px solid rgb(0, 0, 0); }
  h3, h4, h5, h6 { margin: 30px 0px 0px; }
  h2, h3, h4, h5, h6 { padding: 0px; position: relative; }
  h2 { font-size: 18pt; line-height: 24pt; margin-bottom: 0.25em; }
  h3 { font-size: 14pt; line-height: 20pt; }
  h4, h5, h6 { font-size: 12pt; line-height: 16pt; }
  p { font-size: 12pt; line-height: 16pt; margin-top: 5px; text-align: justify; }
  p::before { content: ""; display: block; width: 120pt; overflow: hidden; }
  blockquote { border-left: 2px solid rgb(0, 0, 0); padding-left: 20px; }
  ol, ul { margin: 10px 0px 0px 1.6em; padding: 0px; }
  ol li, ul li { padding: 2px 0px; font-size: 12pt; }
  table ol li, table ul li { font-size: inherit; }
  .toc { break-before: avoid; break-after: avoid; background: none; border: 0px; display: table; }
  .toc a { border: 0px; font-weight: normal; }
  .toc > ul > li { margin-bottom: 4px; font-weight: bold; }
  .toc ul { margin: 0px; list-style: none; }
  .toc ul ul { padding-left: 30px; }
  .toc li.toclevel-1 > a { font-size: 12pt; font-weight: bold; }
  #mw-navigation, .noprint, .mw-jump-link, .mw-portlet-lang, .toc .tocnumber { display: none; }
  .printfooter { margin-top: 10px; border-top: 3px solid rgb(0, 0, 0); padding-top: 10px; font-size: 10pt; clear: both; }
  .mw-footer { margin-top: 12px; border-top: 1px solid rgb(238, 238, 238); padding-top: 5px; }
  #footer-info { margin: 0px; padding: 0px; }
  #footer-info li { color: rgb(153, 153, 153); list-style: none; display: block; padding-bottom: 10px; font-size: 10pt; }
  #footer-info li a { color: rgb(153, 153, 153) !important; }
  #footer-info-lastmod { color: rgb(0, 0, 0); font-size: 12pt; font-weight: bold; }
}

@media screen {
  body { background-color: rgb(246, 246, 246); overflow-y: scroll; }
  .mw-body, .parsoid-body { background-color: rgb(255, 255, 255); color: rgb(32, 33, 34); direction: ltr; padding: 1em; }
  #p-personal { position: absolute; top: 6px; right: 0.75em; z-index: 100; }
  #p-personal ul { padding-left: 10em; }
  #p-personal li { float: left; margin-left: 0.75em; padding-top: 0.5em; line-height: 1.16667; }
  .mw-body, #mw-data-after-content { margin-left: 10em; }
  .mw-body { margin-top: -1px; border-width: 1px 0px 1px 1px; border-style: solid; border-color: rgb(167, 215, 249); border-image: initial; }
  .mw-body .firstHeading { overflow: visible; }
  .mw-indicators { z-index: 1; }
  .vector-body { position: relative; z-index: 0; }
  #mw-page-base { background-color: rgb(251, 251, 251); background-image: linear-gradient(rgb(255, 255, 255) 50%, rgb(246, 246, 246) 100%); background-position: left bottom; height: 5em; }
  #mw-head-base { margin-top: -5em; margin-left: 10em; height: 5em; }
  #mw-navigation h2 { position: absolute; top: -9999px; }
  #mw-head { position: absolute; top: 0px; right: 0px; width: 100%; }
  #left-navigation { float: left; margin-left: 10em; margin-top: 2.5em; margin-bottom: -2.5em; }
  #right-navigation { float: right; margin-top: 2.5em; }
  .vector-search-box { float: left; margin-right: 0.5em; margin-left: 0.5em; }
  .vector-search-box form { margin: 0.5em 0px 0px; }
  .vector-search-box-inner { min-width: 5em; width: 20vw; max-width: 20em; }
  #mw-panel { position: absolute; top: 0px; width: 10em; left: 0px; }
  #p-logo + .mw-portlet h3 { display: none; }
  .mw-footer { margin-left: 10em; margin-top: 0px; padding: 0.75em; }
  .mw-content-ltr { direction: ltr; }
  .mw-content-rtl { direction: rtl; }
  .vector-menu-dropdown:not(.vector-user-menu):hover .vector-menu-content { opacity: 1; visibility: visible; }
  .vector-menu-checkbox:checked + h3::after { transform: scaleY(-1); }
  .vector-menu-dropdown li a { padding: 0.507812em; }
  .vector-search-box h3 { display: block; clip: rect(1px, 1px, 1px, 1px); width: 1px; height: 1px; margin: -1px; border: 0px; padding: 0px; overflow: hidden; position: absolute !important; }
  #mw-panel { font-size: inherit; }
  #mw-panel nav:first-child { background-image: none; }
  #mw-panel nav:first-child h3 { display: none; }
  #mw-panel nav:first-child .vector-menu-content { margin-left: 0.5em; }
  .vector-user-menu-legacy { }
  .vector-user-menu-legacy li { font-size: 0.75em; }
  .vector-user-menu-legacy #pt-anonuserpage, .vector-user-menu-legacy #pt-userpage a { background-position: left 0.333333em; background-image: url("user-avatar.svg_b7f58"); background-repeat: no-repeat; background-size: 1.16667em 1.16667em; padding-top: 0.5em; padding-left: 1.5em; }
  .vector-user-menu-legacy #pt-userpage { padding-top: 0px; }
  .vector-user-menu-legacy #pt-userpage a { display: inline-block; }
  .vector-user-menu-legacy #pt-anonuserpage { color: rgb(84, 89, 93); }
  .vector-user-menu-legacy .vector-menu-content-list { display: flex; flex-wrap: wrap; flex-grow: 1; justify-content: flex-end; align-items: baseline; }
  .skin-vector-legacy a.new { color: rgb(186, 0, 0); }
  .skin-vector-legacy a.new:visited, .skin-vector-legacy .vector-menu-tabs .new a, .skin-vector-legacy .vector-menu-tabs .new a:visited { color: rgb(165, 88, 88); }
}

@media screen and (min-width: 982px) {
  .mw-body, #mw-head-base, #left-navigation, #mw-data-after-content, .mw-footer { margin-left: 11em; }
  .mw-body { padding: 1.25em 1.5em 1.5em; }
  .mw-footer { padding: 1.25em; }
  #mw-panel { padding-left: 0.5em; }
  .vector-search-box { margin-right: 1em; }
  #p-personal { right: 1em; }
}

@media print {
  .noprint, .mw-cite-backlink, .mw-redirectedfrom, .patrollink, #column-one, #footer-places, #mw-navigation, #f-poweredbyico, #f-copyrightico, li#about, li#disclaimer, li#mobileview, li#privacy { display: none; }
  #footer { background: rgb(255, 255, 255); color: rgb(0, 0, 0); margin-top: 1em; border-top: 1pt solid rgb(170, 170, 170); padding-top: 5px; direction: ltr; }
}

.mw-wiki-logo { background-image: url("enwiki.png"); }

@media print {
  .firstHeading::before { left: auto; position: relative; }
  table.floatright, div.floatright, div.tright { float: right; clear: right; }
  table.floatleft, div.floatleft, div.tleft { float: left; clear: left; }
  div.tleft { margin: 0.5em 1.4em 1.3em 0px; }
  div.tright { margin: 0.5em 0px 1.3em 1.4em; }
  table.floatright, div.floatright { margin: 0px 0px 0.5em 0.5em; border: 0px; }
  table.floatleft, div.floatleft { margin: 0px 0.5em 0.5em 0px; border: 0px; }
  div.thumb { background-color: transparent; width: auto; }
  div.thumb a { border-bottom: 0px; }
  div.thumbinner { background-color: rgb(255, 255, 255); border: 0px; border-radius: 2px; padding: 5px; font-size: 10pt; color: rgb(102, 102, 102); text-align: center; overflow: hidden; min-width: 100px; }
  .thumbcaption { text-align: left; line-height: 1.4em; padding: 3px; }
  .thumbborder { border: 1pt solid rgb(221, 221, 221); }
  .thumb { break-inside: avoid; }
  .magnify { display: none; }
  .mw-parser-output a.external { }
  .mw-parser-output a.external.text::after, .mw-parser-output a.external.autonumber::after { content: " (" attr(href) ")"; word-break: break-all; overflow-wrap: break-word; }
  .mw-parser-output a.external.text[href^="//"]::after, .mw-parser-output a.external.autonumber[href^="//"]::after { content: " (https:" attr(href) ")"; }
  .wikitable { background: rgb(255, 255, 255); margin: 1em 0px; border: 1pt solid rgb(170, 170, 170); border-collapse: collapse; font-size: 10pt; break-inside: avoid; }
  .wikitable > caption { padding: 5px; font-size: 10pt; }
  .wikitable > tr > th, .wikitable > tr > td, .wikitable > * > tr > th, .wikitable > * > tr > td { border: 1pt solid rgb(170, 170, 170); padding: 0.4em 0.6em; background: rgb(255, 255, 255) !important; color: rgb(0, 0, 0) !important; }
  .wikitable > tr > th, .wikitable > * > tr > th { text-align: center; }
  table.listing, table.listing td { border: 1pt solid rgb(0, 0, 0); border-collapse: collapse; }
  .mw-editsection, .mw-editsection-like, .mw-indicators, #siteNotice, .usermessage { display: none; }
  .printfooter { padding: 1em 0px; }
  .catlinks ul { display: inline; padding: 0px; list-style: none; }
  .catlinks li { display: inline-block; line-height: 1.15; margin: 0.1em 0px; border-left: 1pt solid rgb(170, 170, 170); padding: 0px 0.4em; }
  .catlinks li:first-child { border-left: 0px; padding-left: 0.2em; }
  .mw-hidden-catlinks, .catlinks { display: none; }
  .center { text-align: center; }
  a { background: none !important; padding: 0px !important; }
  a, a.external, a.new, a.stub { color: inherit !important; text-decoration: inherit !important; }
  dt { font-weight: bold; }
  h1, h2, h3, h4, h5, h6 { font-weight: bold; break-after: avoid; break-before: avoid; }
  p { margin: 1em 0px; line-height: 1.2; orphans: 3; widows: 3; }
  img, figure { break-inside: avoid; }
  img { border: 0px; vertical-align: middle; }
  pre, .mw-code { background: rgb(255, 255, 255); color: rgb(0, 0, 0); border: 1pt dashed rgb(0, 0, 0); padding: 1em; font-size: 8pt; white-space: pre-wrap; overflow-x: hidden; overflow-wrap: break-word; }
  ul { list-style-type: square; }
  .toctogglecheckbox:checked + .toctitle { display: none; }
  .toc { background-color: rgb(249, 249, 249); border: 1pt solid rgb(170, 170, 170); padding: 5px; display: table; }
  .tocnumber, .toctext { display: table-cell; }
  .tocnumber { padding-left: 0px; padding-right: 0.5em; }
  .mw-content-ltr .tocnumber { padding-left: 0px; padding-right: 0.5em; }
  .mw-content-rtl .tocnumber { padding-left: 0.5em; padding-right: 0px; }
}

@media screen {
  div.tright, div.floatright, table.floatright { clear: right; float: right; }
  div.tleft, div.floatleft, table.floatleft { float: left; clear: left; }
  .mw-content-ltr .thumbcaption { text-align: left; }
  .mw-content-ltr .magnify { float: right; }
  .mw-content-rtl .thumbcaption { text-align: right; }
  .mw-content-rtl .magnify { float: left; }
  div.floatright, table.floatright { margin: 0px 0px 0.5em 0.5em; }
  div.floatleft, table.floatleft { margin: 0px 0.5em 0.5em 0px; }
  div.thumb { margin-bottom: 0.5em; width: auto; background-color: transparent; }
  div.thumbinner { border: 1px solid rgb(200, 204, 209); padding: 3px; background-color: rgb(248, 249, 250); font-size: 94%; text-align: center; overflow: hidden; }
  .thumbimage { background-color: rgb(255, 255, 255); border: 1px solid rgb(200, 204, 209); }
  .thumbcaption { border: 0px; line-height: 1.4em; padding: 3px; font-size: 94%; text-align: left; }
  .magnify { float: right; margin-left: 3px; }
  .magnify a { display: block; text-indent: 15px; white-space: nowrap; overflow: hidden; width: 15px; height: 11px; background-image: url("magnify-clip-ltr.svg_8330e"); user-select: none; }
  .thumbborder { border: 1px solid rgb(234, 236, 240); }
  .mw-content-ltr .magnify { margin-left: 3px; margin-right: 0px; }
  .mw-content-ltr .magnify a { background-image: url("magnify-clip-ltr.svg_8330e"); }
  .mw-content-rtl .magnify { margin-left: 0px; margin-right: 3px; }
  .mw-content-rtl .magnify a { background-image: url("/w/resources/src/mediawiki.skinning/images/magnify-clip-rtl.svg?38fd5"); }
  div.tright { margin: 0.5em 0px 1.3em 1.4em; }
  div.tleft { margin: 0.5em 1.4em 1.3em 0px; }
  a.new { color: rgb(221, 51, 51); }
  a.mw-selflink { color: inherit; font-weight: bold; text-decoration: inherit; }
  a.mw-selflink:hover { cursor: inherit; text-decoration: inherit; }
  a.mw-selflink:active, a.mw-selflink:visited { color: inherit; }
  a.new:visited { color: rgb(165, 88, 88); }
  .mw-parser-output a.extiw, .mw-parser-output a.external { color: rgb(51, 102, 187); }
  .mw-parser-output a.extiw:visited, .mw-parser-output a.external:visited { color: rgb(102, 51, 102); }
  .mw-parser-output a.extiw:active, .mw-parser-output a.external:active { color: rgb(187, 102, 51); }
  .mw-underline-always a { text-decoration: underline; }
  .mw-underline-never a { text-decoration: none; }
  .plainlinks a.external { background: none !important; padding: 0px !important; }
  .mw-parser-output a.external, .link-https { background-image: url("external-ltr.svg_59558"); background-position: right center; background-repeat: no-repeat; padding-right: 13px; }
  .mw-parser-output a.external[href^="mailto:"], .link-mailto { background-image: url("/w/resources/src/mediawiki.skinning/images/mail.svg?8a79c"); background-position: right center; background-repeat: no-repeat; padding-right: 13px; }
  .mw-parser-output a.external[href^="ftp://"], .link-ftp { background-image: url("/w/resources/src/mediawiki.skinning/images/ftp-ltr.svg?c5643"); background-position: right center; background-repeat: no-repeat; padding-right: 13px; }
  .mw-parser-output a.external[href^="irc://"], .mw-parser-output a.external[href^="ircs://"], .link-irc { background-image: url("/w/resources/src/mediawiki.skinning/images/chat-ltr.svg?e0649"); background-position: right center; background-repeat: no-repeat; padding-right: 13px; }
  .mw-parser-output a.external[href$=".ogg"], .mw-parser-output a.external[href$=".OGG"], .mw-parser-output a.external[href$=".mid"], .mw-parser-output a.external[href$=".MID"], .mw-parser-output a.external[href$=".midi"], .mw-parser-output a.external[href$=".MIDI"], .mw-parser-output a.external[href$=".mp3"], .mw-parser-output a.external[href$=".MP3"], .mw-parser-output a.external[href$=".wav"], .mw-parser-output a.external[href$=".WAV"], .mw-parser-output a.external[href$=".wma"], .mw-parser-output a.external[href$=".WMA"], .link-audio { background-image: url("/w/resources/src/mediawiki.skinning/images/audio-ltr.svg?74d04"); background-position: right center; background-repeat: no-repeat; padding-right: 13px; }
  .mw-parser-output a.external[href$=".ogm"], .mw-parser-output a.external[href$=".OGM"], .mw-parser-output a.external[href$=".avi"], .mw-parser-output a.external[href$=".AVI"], .mw-parser-output a.external[href$=".mpeg"], .mw-parser-output a.external[href$=".MPEG"], .mw-parser-output a.external[href$=".mpg"], .mw-parser-output a.external[href$=".MPG"], .link-video { background-image: url("/w/resources/src/mediawiki.skinning/images/video.svg?a3758"); background-position: right center; background-repeat: no-repeat; padding-right: 13px; }
  .mw-parser-output a.external[href$=".pdf"], .mw-parser-output a.external[href$=".PDF"], .mw-parser-output a.external[href*=".pdf#"], .mw-parser-output a.external[href*=".PDF#"], .mw-parser-output a.external[href*=".pdf?"], .mw-parser-output a.external[href*=".PDF?"], .link-document { background-image: url("/w/resources/src/mediawiki.skinning/images/document-ltr.svg?0bf90"); background-position: right center; background-repeat: no-repeat; padding-right: 13px; }
  .mw-parser-output a.extiw, .mw-parser-output a.extiw:active { color: rgb(51, 102, 187); }
  .mw-parser-output a.external { color: rgb(51, 102, 187); }
  .mw-body-content::after { clear: both; content: ""; display: block; }
  .mw-body-content a.external.free { overflow-wrap: break-word; }
  .mw-body-content .error { font-size: larger; color: rgb(221, 51, 51); }
  .rtl .mw-parser-output a.external.free, .rtl .mw-parser-output a.external.autonumber { direction: ltr; unicode-bidi: embed; }
  .mw-hide-empty-elt .mw-parser-output .mw-empty-elt { display: none; }
  .wikitable { background-color: rgb(248, 249, 250); color: rgb(32, 33, 34); margin: 1em 0px; border: 1px solid rgb(162, 169, 177); border-collapse: collapse; }
  .wikitable > tr > th, .wikitable > tr > td, .wikitable > * > tr > th, .wikitable > * > tr > td { border: 1px solid rgb(162, 169, 177); padding: 0.2em 0.4em; }
  .wikitable > tr > th, .wikitable > * > tr > th { background-color: rgb(234, 236, 240); text-align: center; }
  .wikitable > caption { font-weight: bold; }
  .usermessage { background-color: rgb(254, 246, 231); border: 1px solid rgb(255, 204, 51); color: rgb(0, 0, 0); font-weight: bold; margin: 2em 0px 1em; padding: 0.5em 1em; vertical-align: middle; }
  #siteNotice { position: relative; text-align: center; margin: 0px; }
  #localNotice { margin-bottom: 0.9em; }
  #siteSub { display: none; }
  #contentSub, #contentSub2 { font-size: 84%; line-height: 1.2em; margin: 0px 0px 1.4em 1em; color: rgb(84, 89, 93); width: auto; }
  span.subpages { display: block; }
  .emptyPortlet { display: none; }
  .printfooter, .client-nojs #t-print { display: none; }
  .mw-indicators { float: right; }
  .mw-editsection { user-select: none; }
  .mw-editsection, .mw-editsection-like { font-size: small; font-weight: normal; margin-left: 1em; vertical-align: baseline; line-height: 1em; }
  .mw-content-ltr .mw-editsection, .mw-content-rtl .mw-content-ltr .mw-editsection, .mw-content-ltr .mw-editsection-like, .mw-content-rtl .mw-content-ltr .mw-editsection-like { margin-left: 1em; margin-right: 0px; }
  .mw-content-rtl .mw-editsection, .mw-content-ltr .mw-content-rtl .mw-editsection, .mw-content-rtl .mw-editsection-like, .mw-content-ltr .mw-content-rtl .mw-editsection-like { margin-right: 1em; margin-left: 0px; }
  #catlinks { text-align: left; }
  .catlinks { border: 1px solid rgb(162, 169, 177); background-color: rgb(248, 249, 250); padding: 5px; margin-top: 1em; clear: both; }
  .catlinks ul { display: inline; margin: 0px; padding: 0px; list-style: none; }
  .catlinks li { display: inline-block; line-height: 1.25em; border-left: 1px solid rgb(162, 169, 177); margin: 0.125em 0px; padding: 0px 0.5em; }
  .catlinks li:first-child { padding-left: 0.25em; border-left: 0px; }
  .catlinks li a.mw-redirect { font-style: italic; }
  .mw-hidden-cats-hidden, .catlinks-allhidden { display: none; }
  a { text-decoration: none; color: rgb(6, 69, 173); background: none; }
  a:not([href]) { cursor: pointer; }
  a:visited { color: rgb(11, 0, 128); }
  a:active { color: rgb(250, 167, 0); }
  a:hover, a:focus { text-decoration: underline; }
  a:lang(ar), a:lang(kk-arab), a:lang(mzn), a:lang(ps), a:lang(ur) { text-decoration: none; }
  img { border: 0px; vertical-align: middle; }
  hr { height: 1px; background-color: rgb(162, 169, 177); border: 0px; margin: 0.2em 0px; }
  h1, h2, h3, h4, h5, h6 { color: rgb(0, 0, 0); margin: 0px; padding-top: 0.5em; padding-bottom: 0.17em; overflow: hidden; }
  h1, h2 { margin-bottom: 0.6em; border-bottom: 1px solid rgb(162, 169, 177); }
  h3, h4, h5 { margin-bottom: 0.3em; }
  h1 { font-size: 188%; font-weight: normal; }
  h2 { font-size: 150%; font-weight: normal; }
  h3 { font-size: 128%; }
  h4 { font-size: 116%; }
  h5 { font-size: 108%; }
  h6 { font-size: 100%; }
  p { margin: 0.4em 0px 0.5em; }
  p img { margin: 0px; }
  ul { margin: 0.3em 0px 0px 1.6em; padding: 0px; }
  ol { margin: 0.3em 0px 0px 3.2em; padding: 0px; list-style-image: none; }
  li { margin-bottom: 0.1em; }
  dt { font-weight: bold; margin-bottom: 0.1em; }
  dl { margin-top: 0.2em; margin-bottom: 0.5em; }
  dd { margin-left: 1.6em; margin-bottom: 0.1em; }
  pre, code, tt, kbd, samp, .mw-code { font-family: monospace, monospace; }
  pre, code, .mw-code { background-color: rgb(248, 249, 250); color: rgb(0, 0, 0); border: 1px solid rgb(234, 236, 240); }
  code { border-radius: 2px; padding: 1px 4px; }
  pre, .mw-code { padding: 1em; white-space: pre-wrap; overflow-x: hidden; overflow-wrap: break-word; }
  table { font-size: 100%; }
  fieldset { border: 1px solid rgb(42, 75, 141); margin: 1em 0px; padding: 0px 1em 1em; }
  legend { padding: 0.5em; font-size: 95%; }
  form { border: 0px; margin: 0px; }
  textarea { display: block; box-sizing: border-box; width: 100%; border: 1px solid rgb(200, 204, 209); padding: 0.1em; }
  .center { width: 100%; text-align: center; }
  .center * { margin-left: auto; margin-right: auto; }
  .small { font-size: 94%; }
  table.small { font-size: 100%; }
  @counter-style meetei { system: numeric; symbols: "꯰" "꯱" "꯲" "꯳" "꯴" "꯵" "꯶" "꯷" "꯸" "꯹"; suffix: ") "; }
  @counter-style santali { system: numeric; symbols: "᱐" "᱑" "᱒" "᱓" "᱔" "᱕" "᱖" "᱗" "᱘" "᱙"; }
  ol:lang(azb) li, ol:lang(bcc) li, ol:lang(bgn) li, ol:lang(bqi) li, ol:lang(fa) li, ol:lang(glk) li, ol:lang(kk-arab) li, ol:lang(lrc) li, ol:lang(luz) li, ol:lang(mzn) li { list-style-type: persian; }
  ol:lang(ckb) li, ol:lang(sdh) li { list-style-type: arabic-indic; }
  ol:lang(hi) li, ol:lang(mai) li, ol:lang(mr) li, ol:lang(ne) li { list-style-type: devanagari; }
  ol:lang(as) li, ol:lang(bn) li { list-style-type: bengali; }
  ol:lang(mni) li { list-style-type: meetei; }
  ol:lang(or) li { list-style-type: oriya; }
  ol:lang(sat) li { list-style-type: santali; }
  .mw-content-ltr ul, .mw-content-rtl .mw-content-ltr ul { margin: 0.3em 0px 0px 1.6em; padding: 0px; }
  .mw-content-rtl ul, .mw-content-ltr .mw-content-rtl ul { margin: 0.3em 1.6em 0px 0px; padding: 0px; }
  .mw-content-ltr ol, .mw-content-rtl .mw-content-ltr ol { margin: 0.3em 0px 0px 3.2em; padding: 0px; }
  .mw-content-rtl ol, .mw-content-ltr .mw-content-rtl ol { margin: 0.3em 3.2em 0px 0px; padding: 0px; }
  .mw-content-ltr dd, .mw-content-rtl .mw-content-ltr dd { margin-left: 1.6em; margin-right: 0px; }
  .mw-content-rtl dd, .mw-content-ltr .mw-content-rtl dd { margin-right: 1.6em; margin-left: 0px; }
  h1:lang(anp), h1:lang(as), h1:lang(bh), h1:lang(bho), h1:lang(bn), h1:lang(gu), h1:lang(hi), h1:lang(kn), h1:lang(ks), h1:lang(ml), h1:lang(mr), h1:lang(my), h1:lang(mai), h1:lang(ne), h1:lang(new), h1:lang(or), h1:lang(pa), h1:lang(pi), h1:lang(sa), h1:lang(ta), h1:lang(te) { line-height: 1.6em !important; }
  h2:lang(anp), h3:lang(anp), h4:lang(anp), h5:lang(anp), h6:lang(anp), h2:lang(as), h3:lang(as), h4:lang(as), h5:lang(as), h6:lang(as), h2:lang(bho), h3:lang(bho), h4:lang(bho), h5:lang(bho), h6:lang(bho), h2:lang(bh), h3:lang(bh), h4:lang(bh), h5:lang(bh), h6:lang(bh), h2:lang(bn), h3:lang(bn), h4:lang(bn), h5:lang(bn), h6:lang(bn), h2:lang(gu), h3:lang(gu), h4:lang(gu), h5:lang(gu), h6:lang(gu), h2:lang(hi), h3:lang(hi), h4:lang(hi), h5:lang(hi), h6:lang(hi), h2:lang(kn), h3:lang(kn), h4:lang(kn), h5:lang(kn), h6:lang(kn), h2:lang(ks), h3:lang(ks), h4:lang(ks), h5:lang(ks), h6:lang(ks), h2:lang(ml), h3:lang(ml), h4:lang(ml), h5:lang(ml), h6:lang(ml), h2:lang(mr), h3:lang(mr), h4:lang(mr), h5:lang(mr), h6:lang(mr), h2:lang(my), h3:lang(my), h4:lang(my), h5:lang(my), h6:lang(my), h2:lang(mai), h3:lang(mai), h4:lang(mai), h5:lang(mai), h6:lang(mai), h2:lang(ne), h3:lang(ne), h4:lang(ne), h5:lang(ne), h6:lang(ne), h2:lang(new), h3:lang(new), h4:lang(new), h5:lang(new), h6:lang(new), h2:lang(or), h3:lang(or), h4:lang(or), h5:lang(or), h6:lang(or), h2:lang(pa), h3:lang(pa), h4:lang(pa), h5:lang(pa), h6:lang(pa), h2:lang(pi), h3:lang(pi), h4:lang(pi), h5:lang(pi), h6:lang(pi), h2:lang(sa), h3:lang(sa), h4:lang(sa), h5:lang(sa), h6:lang(sa), h2:lang(ta), h3:lang(ta), h4:lang(ta), h5:lang(ta), h6:lang(ta), h2:lang(te), h3:lang(te), h4:lang(te), h5:lang(te), h6:lang(te) { line-height: 1.4em; }
  h2:lang(th) { line-height: 1.6; }
  .toc, .toccolours { border: 1px solid rgb(162, 169, 177); background-color: rgb(248, 249, 250); padding: 5px; font-size: 95%; }
  .toc { display: table; padding: 7px; }
  .toc h2 { display: inline; border: 0px; padding: 0px; font-size: 100%; font-weight: bold; }
  .toc .toctitle { text-align: center; }
  .toc ul { list-style: none; margin: 0.3em 0px; padding: 0px; text-align: left; }
  .toc ul ul { margin: 0px 0px 0px 2em; }
  table.toc { border-collapse: collapse; }
  table.toc td { padding: 0px; }
  .tocnumber, .toctext { display: table-cell; text-decoration: inherit; }
  .tocnumber { color: rgb(32, 33, 34); padding-left: 0px; padding-right: 0.5em; }
  .mw-content-ltr .tocnumber { padding-left: 0px; padding-right: 0.5em; }
  .mw-content-rtl .tocnumber { padding-left: 0.5em; padding-right: 0px; }
  .toctogglecheckbox { position: absolute; opacity: 0; z-index: -1; display: inline !important; }
  .toctogglespan { font-size: 94%; }
  .toctogglespan::before { content: " ["; }
  .toctogglespan::after { content: "]"; }
  .toctogglelabel { cursor: pointer; color: rgb(6, 69, 173); }
  .toctogglelabel:hover { text-decoration: underline; }
  .toctogglecheckbox:focus + .toctitle .toctogglelabel { text-decoration: underline; outline: -webkit-focus-ring-color auto; }
  .toctogglecheckbox:checked + .toctitle .toctogglelabel::after { content: "show"; }
  .toctogglecheckbox:not(:checked) + .toctitle .toctogglelabel::after { content: "hide"; }
  .toc .toctitle { direction: ltr; }
  .mw-content-ltr .toc ul, .mw-content-rtl .mw-content-ltr .toc ul { text-align: left; }
  .mw-content-rtl .toc ul, .mw-content-ltr .mw-content-rtl .toc ul { text-align: right; }
  .mw-content-ltr .toc ul ul, .mw-content-rtl .mw-content-ltr .toc ul ul { margin: 0px 0px 0px 2em; }
  .mw-content-rtl .toc ul ul, .mw-content-ltr .mw-content-rtl .toc ul ul { margin: 0px 2em 0px 0px; }
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
  .mw-wiki-logo { background-image: url("/static/images/project-logos/enwiki-1.5x.png"); background-size: 135px; }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (min-resolution: 192dpi) {
  .mw-wiki-logo { background-image: url("/static/images/project-logos/enwiki-2x.png"); background-size: 135px; }
}

.wb-langlinks-link { line-height: 1.125em; font-size: 0.75em; float: right; }

.wb-langlinks-link { list-style: none; text-align: right; padding-right: 0.5em !important; }

.wb-langlinks-link > a::before { content: ""; background-image: url("edit.svg_34bc5"); background-position: left top; background-repeat: no-repeat; background-size: 10px 10px; display: inline-block; width: 10px; height: 10px; margin-right: 2px; vertical-align: top; }

.wb-langlinks-link > a:link, .wb-langlinks-link > a:visited { color: rgb(84, 89, 93) !important; }

.wb-langlinks-link > a:link::before, .wb-langlinks-link > a:visited::before { filter: grayscale(1); opacity: 0.73; }

.wb-langlinks-link > a:hover { color: rgb(6, 69, 173) !important; }

.wb-langlinks-link > a:hover::before { filter: none; opacity: 1; }

div.after-portlet-lang::after { content: ""; clear: both; display: block; }

.skin-vector:not(.skin-vector-legacy) .wb-langlinks-link { text-align: left; float: none; }

.skin-vector:not(.skin-vector-legacy) .wb-langlinks-link a { color: rgb(6, 69, 173) !important; }
